.vs/slnx.sqlite
.vs/config/applicationhost.config
.vs/ProjectSettings.json
.vs/event-configs/v15/.suo
.vs/VSWorkspaceState.json
.idea/modules.xml
.idea/vcs.xml
.idea/Wipefest.EventConfigs.iml
.idea/workspace.xml
.vs/
